*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Varela;
    -webkit-font-smoothing: antialiased;
}

ul {
  width: 100%;
  list-style-type: none;
}


nav{
    width: 100%;
    position: sticky;
    top: 0;
    background: #3e3e3e;
    padding: 5px 40px;
    transition: opacity 0.5s;
    z-index: 100;
  }

  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: cyan;
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }

  section{
      padding-top: 4rem;
      padding-bottom: 0;
      padding-left: 2rem;
      padding-right: 2rem;;
      max-width: 1180px;
      overflow: hidden;
      z-index: 10;
  }

  section h1{
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 2rem;
  }

  section p{
      font-size: 18px;
      font-weight: 400 !important;
        line-height: 1.7em;
  }


  .about, .projects, .contact{
    margin: auto;
  }



  .about .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about .container .infos{
      max-width: 600px;
}

.about .container .my-picture {
    margin: auto;

}

.my-picture img{
    width: 280px;
    height: auto;
    bottom: -100px;
    border-radius: 50%;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(200, 199, 199);
  }



.projects .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects  .middle{
  display: none;
}

.projects .cards .card{
    margin:2rem 0;
    background-color: rgb(200, 199, 199);
    width: 760px;
    min-height: 450px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    padding:1.6rem 1rem 1.2rem 1rem;
}


.projects .cards .card p{
font-size: 16px;
}

.projects .cards .card h2{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.projects .cards .card h3{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

.projects .cards .card .project-links{
  text-align: center;
}

.projects .cards .card .project-links a{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.projects .cards .card .project-links .fa-github-square{
  transform: scale(2.8);
}


.projects .cards .card .left{
  float: left;  
  width: 55%;
  height: 100%;
}

.projects .cards .card .right{
  float: right;  
  width: 45%;
  height: 100%;
}

.projects .cards .card .right .project-details{
  width: 100%;
  height: 80%;
}

.projects .cards .card .right .project-links{
  width: 100%;
  height: 20%;
}




.card .left .picture-container{
  width: 100%;
  height: 70%;
}

.card .left .picture-container img{
  max-width:100%;
max-height:100%;
  width: auto;
  padding: 0px 30px 0px 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card .left .technologies{
  margin-top: 10px;
  text-align: center;
  margin: 25px 0 0 10px;
}

.card .technologies ul{
  display: flex;
  justify-content: center;
  margin-top:15px;
}


.card .technologies ul .fab{
  font-size: 25px;
  line-height: 45px;
  transition: .6s;
  color:#000;
}



.card .technologies ul li{
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  margin:0 7px;
}



.contact-window{
  background-color: #3e3e3e;
  margin: auto;
  height: 600px;
  width: 800px;
  border-radius: 15px;
  position: relative;
  color:white;
}

.contact-window .menu-bar{
  border-radius: 15px 15px 0px 0px;
  background-color: #4d4d4f;
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.contact-window .menu-bar ul{
  width: 100%;
  margin: auto 12px;
}

.contact-window .menu-bar ul li{
  display: inline-block;
}


.buttons li{
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;

}

.see-more{
  text-align: right;
  margin-right: 10px;
}

.see-more li{
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}



.buttons .red{
  background-color: red;
}

.buttons .orange{
  background-color: orange;
}

.buttons .green{
  background-color: green;
}

.contact-window .contact-infos{
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-window .contact-infos .left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-window .contact-infos .right{
  height: 100%;
  overflow: hidden;
  padding-top:20px;
}

.contact-window .left ul{
  display:flex;
  justify-content: space-between;
}

.contact-window .left ul li{
  list-style: none;
}

.contact-window .left .fab{
  font-size: 25px;
  line-height: 45px;
  transition: .6s;
  color:#000;
}

.fa-bars{
  color: white;
}


.left ul a{
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}



.input-field {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 4rem;
}

.input-field .user-input {
  width: 100%;
  height: 100%;
  color: white;
  padding-bottom: 10px;
  outline: none;
  border: none;
  background-color:inherit ;
  font-size: 17px;
}

.section-title{
  font-size: 26pt;
  font-weight: 900;
}
.input-field label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
  color:white
}

.input-field label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid white;
  left: 0;
  bottom: -2px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.input-field .content {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.input-field .content-large {
  bottom: 200px;
}

.input-field .user-input:focus + .label .content,
.input-field .user-input:valid + .label .content {
  transform: translateY(-150%);
  font-size: 14px;
}

.input-field .user-input:focus + .label::after,
.input-field .user-input:valid + .label::after {
  transform: translateX(0%);
}

.contact-infos h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}

.contact-infos .info-section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-infos .info-section h3 {
  text-transform: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.contact-infos .info-section a {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.submit-container{
  text-align: center;
}

.submit {
  background-color: white;
  border: white solid 1px;
  border-radius: 20px;
  color: black;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.submit:hover {
  transition: 0.4s;
  background-color: #3e3e3e;
  color: white;
}

.additional-title{
  justify-content: center;
  text-align: center;
  display: none;
  margin-top: 22px;
  margin-bottom: 14px;
}

footer{
  margin-top:3rem;
  background-color: #3e3e3e;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding:1rem;
  text-align: center;
}

footer p{
  margin-bottom: 5px;
}





@media all and (max-width: 900px){
  section{
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 2rem;
  }
  

  h1{
    text-align: center;

  }
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }

  .about .container .infos{
    margin-bottom: 20px;
  }

  .about .container .infos p{
    text-align: left;
    margin-bottom: 20px;
  }



  .card .middle{
    display: block;
  }

  .card .left{
    display: none;
  }

  .card .right{
    display: none;
  }

  .card .middle-description{
    margin-top:10px;
    text-align: center;
  }

  .card .technologies{
    margin-top:20px;
    justify-content: center;
    text-align: center;
  }

  .card .technologies h3{
    font-weight:300;

  }

  .projects .cards .card .project-links{
    margin-top: 35px;
  }

  .middle-container{
    width: 100%;
  }

  .middle-container img{
    max-height: 100%;
    max-width: 100%;
  }
}


@media screen and (max-width: 762px) {

  .about{
      margin: 0 10px;
  }

  .about p{
    font-size: 17px;
  }


  .contact-window{
    margin: auto 0px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    position: relative;
    color:white;
  }

  .contact-window .contact-infos .left{
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .contact-window .left ul{
    justify-content: space-evenly;
  }


  .additional-title{
    margin-top: 12px;
    margin-bottom: 5px;
    display: block;
  }

   h2{
    padding: 8px 0;
  }
  
}

.icon{
  height: 65%;
  width: auto;
}


.sql-icon{
  margin-top: 7px;
  margin-left: 4px;
}

.spring-boot-icon{
  border-radius: 25%;
  margin-top: 8px;
  margin-right:1px;
}


.post-gres-icon{
  margin-top: 9px;
  margin-right: 2px;
}

.antlr-icon{
  margin-top: 8px;
  height: 65%;
  width: auto;
}